.vscode
.pytest_cache
__pycache__
.ipynb_checkpoints
src/__pycache__
*.obj
*.csv
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.off
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

[Bb][Uu][Ii][Ll][Dd]
[Ee][Xx][Tt][Ee][Rr][Nn]
[Mm][Oo][Dd][Ee][Ll][Ss]
[Rr][Ee][Ss][Uu][Ll][Tt][Aa][Dd][Oo][Ss]